html { height: 100%; overflow: hidden }
body {
margin: 0px;
padding: 0px;
height: 100%;
behavior: url(loaded.htc);
}
#canvasgamend {
    
    margin: -500px 0 0;
    display: normal;
}    

#canvasJet, #canvasEnemy, #canvasHUD #canvasMeteor{
    margin: -500px 0 0;
    display: block;
}
 
